.example-container th,
.example-container td {
  min-width : 55px;
  max-width : 120px;
  overflow  : hidden;
  text-align: center;
}

.table {
  padding   : 5px 10px;
  border-top: 1px #ccc solid;
}

.table thead tr {
  height       : 30px;
  line-height  : 30px;
  border-bottom: 1px #ccc solid;
}

.table th,
.table td {
  max-width    : 200px;
  text-overflow: ellipsis;
  overflow     : hidden;
}

.example-container {
  height: calc(100% - 50px);
}

.mat-table-sticky {
  background: #e4e7e8;
  opacity   : 1;
}

.search-box {
  padding: 8px;
}

.search-box .group {
  width        : 240px;
  margin-bottom: 8px;
  display      : block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

.labortable {
  height: 100%;

  ::ng-deep .ant-spin-nested-loading {
    height: 100%;

    .ant-spin-container {
      height: 100%;

      .ant-table {
        height: 100%;

        .ant-table-container {
          height: 100%;

          .highlight  {
            background-color: yellow;
            /* 背景颜色 */
            color           : black;
            /* 前景（文字）颜色 */
          }
        }
      }
    }
  }
}