<idrawer *ngIf="visible" [title]="title" [width]="width" justifyContent="center" nzSize="small" [footer]="footerTpl"
    (onClose)="close()" [content]="contentTpl">
    <ng-template #contentTpl>
        <form nz-form [formGroup]="validateForm">
            <nz-form-item>
                <nz-form-label [nzSpan]="6">{{'pmCutting.station_code'|i18n }}</nz-form-label>
                <nz-form-control [nzSpan]="18" nzErrorTip="{{
                        'inputdata.input'|i18n }}/{{
                        'pdmStyle.station_code'|i18n }}">
                    <input nz-input formControlName="station_code" placeholder="{{'inputdata.input'|i18n}}"
                        (keydown)="submitForm($event)" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6">{{'pmCutting.client'|i18n}}</nz-form-label>
                <nz-form-control [nzSpan]="18">
                    <ina-common-select class="select" title="" formControlName="client" DataFiled="value"
                        DataTxt="description" urltype="enum" url="loadingclient" [isshow]="false">
                    </ina-common-select>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-template>
    <ng-template #footerTpl>
        <button nz-button nzType="primary" (click)="submitForm()" (keydown)="submitForm($event)" [disabled]="submiting"
            [nzLoading]="submiting" class="m-l-6">{{'btn.save'|i18n}}</button>
        <button nz-button (click)="close()">{{'btn.cancel'|i18n}}</button>
        <flow #flow style="text-align: left;" [modular]="modular"></flow>
    </ng-template>
</idrawer>
