<idrawer *ngIf="visible" [title]="title" width="99%" justifyContent="center" height="99%" (onClose)="close()"
  [content]="contentTpl" [footer]="footerTpl">
  <ng-template #contentTpl>
    <nz-layout>
      <!-- 类型 -->
      <nz-sider>
        <div nz-flex [nzGap]="'small'">
          <button nz-button>text</button>
          <button nz-button>select</button>
          <button nz-button>number</button>
          <button nz-button>Link</button>
        </div>
      </nz-sider>
      <nz-content>
        <nz-layout>
          <!-- 预览结构 -->
          <nz-content>Content</nz-content>
          <!-- 属性配置 -->
          <nz-sider>Sider</nz-sider>
        </nz-layout>
      </nz-content>
    </nz-layout>
  </ng-template>

  <ng-template #footerTpl>
    <button nz-button (click)="close()">{{ 'btn.cancel'|i18n}}</button>
    <button nz-button nzType="primary" (click)="submitForm()" (keydown)="submitForm($event)" [disabled]="submiting"
      [nzLoading]="submiting" class="m-l-6">{{ 'btn.save'|i18n}}</button>
  </ng-template>
</idrawer>
