<idrawer *ngIf="visible" title="{{ 'sync'|i18n }}" [width]="width" justifyContent="center" (onClose)="close()" [content]="contentTpl" [footer]="footerTpl">
    <ng-template #contentTpl>
        <form nz-form [formGroup]="validateForm">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzRequired>{{ 'statisticsIn.dateRange'|i18n }}</nz-form-label>
                <nz-form-control [nzSpan]="18" nzErrorTip="{{ 'inputdata.input'|i18n }}/{{ 'dateRange'|i18n }}">
                    <nz-range-picker formControlName="dateRange"></nz-range-picker>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-template>

    <ng-template #footerTpl>
        <button nz-button (click)="close()">{{  'btn.cancel'|i18n}}</button>
        <button nz-button nzType="primary" (click)="submitForm()" (keydown)="submitForm($event)" class="m-l-6">{{ 'btn.Confirmed'|i18n }}</button>
    </ng-template>
</idrawer>