<crud2 #crud [router]="url" [jsonname]="fieldcode" [list]="list" (actionClick)="btnEvent($event)" [isKeyQuery]="true"
    [isDataOnInit]="false" [isAction]="false" [isRefresh]="false" [columns]="columns" [modular]="modular"
    [fields]="field" [isKeyword]="false" [KeyQuery]="KeyQuery" [checkbox]="false" [isStatistics]="true"
    [searchActionsBody]="searchActionsBody" (onReset)="onReset()" [isSetList]="false"></crud2>
<ng-template #searchActionsBody let-item="record">
    <form nz-form>
        <nz-form-item *ngIf="QueryInspection('som_code')">
            <nz-form-label [nzSpan]="24">{{
                'reportOperationdetails.som_code'|i18n }}</nz-form-label>
            <nz-form-control [nzSpan]="24">
                <ina-common-select class="select" title="" [(ngModel)]="crud.seniorModel.som_key" name="som_code"
                    url="productionordermaster" [isshow]="false">
                </ina-common-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="QueryInspection('hei_name')">
            <nz-form-label [nzSpan]="24">{{
                'reportOperationdetails.hei_name'|i18n }}</nz-form-label>
            <nz-form-control [nzSpan]="24">
                <ina-common-select class="select" title="" [(ngModel)]="crud.seniorModel.hei_key" name="hei_key"
                    url="Employeeinfo">
                </ina-common-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="QueryInspection('hoi_name')">
            <nz-form-label [nzSpan]="24">{{
                'reportOperationdetails.hoi_name'|i18n }}</nz-form-label>
            <nz-form-control [nzSpan]="24">
                <ina-ztree-select [setting]="setting" class="select" [(ngModel)]="crud.seniorModel.hoi_key"
                    name="hoi_key" datatype="getlist/"></ina-ztree-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="QueryInspection('psi_code')">
            <nz-form-label [nzSpan]="24">{{
                'reportOperationdetails.psi'|i18n }}</nz-form-label>
            <nz-form-control [nzSpan]="24">
                <ina-common-select class="select" title="" [(ngModel)]="crud.seniorModel.psi_key" name="psi_key"
                    url="styleinfo" DataTxt="code" secondary="name">
                </ina-common-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="QueryInspection('bpi')">
            <nz-form-label [nzSpan]="24">{{ 'reportOperationdetails.bpi'|i18n }}</nz-form-label>
            <nz-form-control [nzSpan]="24">
                <ina-common-select class="select" title="" [(ngModel)]="crud.seniorModel.bpi_key" name="bpi_key"
                    url="PartInfo">
                </ina-common-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="QueryInspection('poi_name')">
            <nz-form-label [nzSpan]="24">{{
                'reportOperationdetails.poi'|i18n }}</nz-form-label>
            <nz-form-control [nzSpan]="24">
                <ina-common-select class="select" title="" [linkage]="true"
                    [linkagedata]="{psi_key:crud.seniorModel.psi_key}" [(ngModel)]="crud.seniorModel.poi_key"
                    name="poi_key" url="OperationInfo">
                </ina-common-select>
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>
<ng-template #KeyQuery let-item="record">
    <date-select #dateselect [isRange]="true"
        (onSelect)="crud.SearchModel.start_date=$event.start;crud.SearchModel.end_date=$event.end"></date-select>
</ng-template>
