<crud2
  #crud
  [router]="url"
  [jsonname]="fieldcode"
  [list]="list"
  (actionClick)="btnEvent($event)"
  [isKeyQuery]="true"
  [isRefresh]="false"
  [columns]="columns"
  [modular]="modular"
  [fields]="field"
  [isKeyword]="false"
  [KeyQuery]="KeyQuery"
  [checkbox]="false"
  [isStatistics]="true"
  (onReset)="onReset()"
  [searchActionsBody]="searchActionsBody"
  detail="query"
  [isReport]="true"
  [isDataOnInit]="false"
></crud2>
<ng-template #KeyQuery let-item="record">
  <app-ina-single-select
    [(ngModel)]="crud.seniorModel.control_key"
    (ngModelChange)="crud.Search()"
    [ngZorroProps]="{ width: '200px', placeholder: '请选择出库控制', isAllowClear: false }"
    [apiProps]="{ url: 'admin/w_WarehouseOutControl/Option' }"
  ></app-ina-single-select>
</ng-template>
<ng-template #searchActionsBody let-item="record">
  <form nz-form>
    <nz-form-item>
      <nz-form-label [nzSpan]="24">{{ "reportInventoryStatistics.pwb_code" | i18n }}</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <app-ina-single-select
          [(ngModel)]="crud.seniorModel.pwb_key"
          name="pwb_key"
          [ngZorroProps]="{ label: 'code' }"
          [apiProps]="{ url: 'admin/WorkBill/Option' }"
        ></app-ina-single-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="24">{{ "reportInventoryStatistics.psi" | i18n }}</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <app-ina-single-select
          [(ngModel)]="crud.seniorModel.psi_key"
          name="psi_key"
          [apiProps]="{ url: 'admin/styleinfo/Option' }"
        ></app-ina-single-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="24">{{ "reportInventoryStatistics.pci" | i18n }}</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <app-ina-single-select
          [(ngModel)]="crud.seniorModel.pci_key"
          name="psz_key"
          [apiProps]="{ url: 'admin/colorInfo/Option' }"
        ></app-ina-single-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="24">{{ "reportInventoryStatistics.psz" | i18n }}</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <app-ina-single-select
          [(ngModel)]="crud.seniorModel.psz_key"
          name="psz_key"
          [apiProps]="{ url: 'admin/sizeInfo/Option' }"
        ></app-ina-single-select>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>

<app-outbound-task #outboundTask (editDone)="crud.reloadData($event)"></app-outbound-task>
