<idrawer *ngIf="visible" [title]="title" [width]="width" justifyContent="center" height="90%" nzSize="small"
  (onClose)="close()" [content]="contentTpl">
  <ng-template #contentTpl>
    <crud2 #flowcrud [router]="url" [jsonname]="'pdmStyle'" style="height: 100%;" [getBody]="body" showLayout="Up-Down"
      [showAdvanced]="false" listFun="getFlownew" [list]="list" (actionClick)="onAction($event)" [columns]="columns"
      [modular]="modular" xlsurl="flowxlsurl" [btnGroup]="btnaction" [isSetList]="false" [fields]="field"
      [ExtendColumnTpl]="ExtendTpl">
    </crud2>
    <!-- 行内数据表现扩展 -->
    <ng-template #ExtendTpl let-item="record" let-column="column">
      <nz-select [(ngModel)]="item[column.coums]" style="width: 100%;" nzPlaceHolder="{{'warning.noset'|i18n}}"
        (ngModelChange)="onAction({action:'Reflux',node:item})">
        <nz-option [nzValue]="" nzLabel="{{'warning.noset'|i18n}}"></nz-option>
        <nz-option [nzValue]="true" nzLabel="{{'placard.backflow'|i18n}}"></nz-option>
        <nz-option [nzValue]="false" nzLabel="{{'placard.nobackflow'|i18n}}"></nz-option>
      </nz-select>
    </ng-template>
  </ng-template>
</idrawer>
<flow3 #flow3 style="text-align: left;" [modular]="modular" (onReturn)="onAction($event)"
  (editDone)="_flowcrud.reloadData($event)" [isCutIn]="true"></flow3>
<idrawer *ngIf="laborratevisible" title="{{'placard.laborratese'|i18n}}" [width]="width" justifyContent="center"
  height="90%" nzSize="small" (onClose)="laborclose()" [content]="laborcontentTpl" [footer]="footerTpl">
  <ng-template #laborcontentTpl>
    <nz-table #editRowTable nzBordered class="labortable" [nzData]="listOfData" [nzFrontPagination]="false"
      [nzShowPagination]="false" [nzScroll]="{y:'94%'}">
      <thead>
        <tr>
          <th>{{'commFlow.poi_code'|i18n}}
            <nz-filter-trigger [(nzVisible)]="poi_codevisible" [nzActive]="searchValue.poi_code.length > 0"
              [nzDropdownMenu]="codemenu">
              <span nz-icon nzType="search"></span>
            </nz-filter-trigger>
          </th>
          <th nzWidth="30%">{{'commFlow.poi_name'|i18n}}
            <nz-filter-trigger [(nzVisible)]="poi_namevisible" [nzActive]="searchValue.poi_name.length > 0"
              [nzDropdownMenu]="menu">
              <span nz-icon nzType="search"></span>
            </nz-filter-trigger>
          </th>
          <th>{{'commFlow.production_wages'|i18n}}</th>
          <th>{{'commFlow.production_time'|i18n}}(s)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of editRowTable.data" class="editable-row" [id]="data.poi_code">
          <td>
            <span class="poi_code"
              *ngIf="!data.poi_codelabel||data.poi_codelabel.length==0||searchValue.poi_code.length == 0">{{ data.poi_code }}</span>
            <span *ngIf="searchValue.poi_code.length > 0">
              <label *ngFor="let item of data.poi_codelabel"
                [class.highlight]="item==searchlength.highlight">{{ item }}</label>
            </span>
          </td>
          <td>
            <span class="poi_name"
              *ngIf="!data.poi_namelabel||data.poi_namelabel.length==0||searchValue.poi_name.length == 0">{{ data.poi_name }}</span>
            <span *ngIf="searchValue.poi_name.length > 0">
              <label *ngFor="let item of data.poi_namelabel"
                [class.highlight]="item==searchlength.highlight">{{ item }}</label>
            </span></td>
          <td><input type="number" nz-input [(ngModel)]="data.standard_wages" /></td>
          <td><input type="number" nz-input [(ngModel)]="data.standard_time" /></td>
        </tr>
      </tbody>
    </nz-table>
    <nz-dropdown-menu #codemenu="nzDropdownMenu">
      <ng-container *ngTemplateOutlet="filterdropdownTpl"></ng-container>
    </nz-dropdown-menu>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ng-container *ngTemplateOutlet="filterdropdownTpl"></ng-container>
    </nz-dropdown-menu>
    <ng-template #filterdropdownTpl>
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group class="group" [nzSuffix]="suffixIconSearch" [nzAddOnAfter]="suffixButton">
            <input type="text" nz-input placeholder="{{'inputdata.input'|i18n}}" (keyup)="search()"
              [(ngModel)]="searchValue[poi_codevisible==true?'poi_code':'poi_name']" />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <span style="color: #ccc;">{{searchlength.select}}/{{searchlength.all}}</span>
          </ng-template>
          <ng-template #suffixButton>
            <div>
              <a nz-button nzSize="small" nzType="link" (click)="position(-1)" [disabled]="searchlength.select<=1">
                <i nz-icon nzType="up" nzTheme="outline"></i>
              </a>
              <a nz-button nzSize="small" nzType="link" (click)="position(1)"
                [disabled]="searchlength.select>=searchlength.all">
                <i nz-icon nzType="down" nzTheme="outline"></i>
              </a>
              <a nz-button nzSize="small" nzType="link" (click)="reset()">
                <i nz-icon nzType="close" nzTheme="outline"></i>
              </a>
            </div>
          </ng-template>
        </div>
      </div>
    </ng-template>
  </ng-template>
  <ng-template #footerTpl>
    <button nz-button (click)="downloadreport()">{{ 'btn.export'|i18n }}</button>
    <button nz-button (click)="laborclose()" class="m-l-6">{{ 'btn.cancel'|i18n }}</button>
    <button nz-button nzType="primary" (click)="submitForm()" (keydown)="submitForm($event)" [disabled]="submiting"
      [nzLoading]="submiting" class="m-l-6">{{ 'btn.save'|i18n }}</button>
  </ng-template>
</idrawer>
