<nz-select
  [(ngModel)]="selectedValue"
  (ngModelChange)="onChange($event)"
  [nzPlaceHolder]="processedNgZorroProps.placeholder"
  [nzAllowClear]="processedNgZorroProps.isAllowClear"
  [nzDisabled]="disabled"
  nzShowSearch
  nzServerSearch
  (nzOnSearch)="onSearch($event)"
  (nzScrollToBottom)="onLoadMore()"
  [style.width]="processedNgZorroProps.width"
>
  <nz-option
    *ngFor="let option of optionList | filterByKeywords : searchWords : processedNgZorroProps.label"
    [nzValue]="option[processedNgZorroProps.value]"
    [nzLabel]="option | displayLabel : processedNgZorroProps.label : processedNgZorroProps.secondaryLabel"
  ></nz-option>
</nz-select>
