<nz-table
    #table
    [nzData]="data"
    [nzBordered]="true"
    [nzShowPagination]="false"
    nzSize="small"
    >
    <thead>
        <tr>
            <th>{{ 'name'|i18n }}</th>
            <th>{{ 'value'|i18n }}</th>
            <th>
                <button nz-button type="button" nzType="text" (click)="add()">
                    <i nz-icon nzType="plus"></i>
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of table.data;let i = index">
            <td>
                <nz-select nzShowSearch  [(ngModel)]="item[fieldKey]" nzPlaceHolder="{{  'checkdata.check'|i18n}}" (ngModelChange)="item[valueKey] = null">
                    <nz-option [nzValue]="ite.key" [nzDisabled]="!multiple && checkSelected(ite.key)" [nzLabel]="ite.name" *ngFor="let ite of fieldOptions"></nz-option>
                </nz-select>
            </td>
            <td>
                <nz-select nzShowSearch [(ngModel)]="item[valueKey]" nzPlaceHolder="{{  'checkdata.check'|i18n}}">
                    <nz-option [nzValue]="ite.key" [nzLabel]="ite.name" *ngFor="let ite of valueOptions[item[fieldKey]]"></nz-option>
                </nz-select>
            </td>
            <td>
                <button nz-button type="button" nzType="text" (click)="del(i)">
                    <i nz-icon nzType="minus"></i>
                </button>
            </td>
        </tr>
    </tbody>
</nz-table>