<account-layout>
    <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="16" [nzMd]="12" [nzLg]="18" [nzXl]="12" [nzXXl]="8">
            <form nz-form [formGroup]="validateForm">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzRequired>{{ 'account.currentPassword'|i18n }}</nz-form-label>
                    <nz-form-control [nzSpan]="18" nzErrorTip="{{ 'inputdata.input'|i18n }}/{{ 'account.currentPassword'|i18n }}">
                        <input nz-input type="password" formControlName="password" placeholder="{{ 'inputdata.input'|i18n }}" (keydown)="submitForm($event)" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzRequired>{{ 'account.newPassword'|i18n }}</nz-form-label>
                    <nz-form-control [nzSpan]="18" nzErrorTip="{{ 'inputdata.input'|i18n }}/{{ 'account.newPassword'|i18n }}">
                        <input nz-input type="password" formControlName="newpassword" placeholder="{{ 'inputdata.input'|i18n }}" (keydown)="submitForm($event)" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzRequired>{{ 'account.confirmPassword'|i18n }}</nz-form-label>
                    <nz-form-control [nzSpan]="18" nzErrorTip="{{ 'inputdata.input'|i18n }}/{{ 'account.confirmPassword'|i18n }}">
                        <input nz-input type="password" formControlName="confignewpwd" placeholder="{{ 'inputdata.input'|i18n }}" (keydown)="submitForm($event)" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control [nzSpan]="18" [nzOffset]="6">
                        <button nz-button nzType="primary" (click)="submitForm()" (keydown)="submitForm($event)" [disabled]="submiting" [nzLoading]="submiting">{{  'btn.save'|i18n}}</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
    </div>
</account-layout>