<idrawer *ngIf="visible" [title]="title" [width]="width" justifyContent="center" nzSize="small" [footer]="footerTpl"
    (onClose)="close()" [content]="contentTpl">
    <ng-template #contentTpl>
        <form nz-form [nzLayout]="'horizontal'" [formGroup]="form">
            <nz-form-item>
                <nz-form-label nzSpan="6" nzRequired>{{"basWorksection.code" | i18n}}</nz-form-label>
                <nz-form-control nzSpan="8" nzErrorTip="{{ 'inputdata.input' | i18n }}{{'basWorksection.code' | i18n}}">
                    <input nz-input formControlName="code" placeholder="{{ 'inputdata.input' | i18n }}" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzSpan="6" nzRequired>{{"basWorksection.name" | i18n}}</nz-form-label>
                <nz-form-control nzSpan="8" nzErrorTip="{{ 'inputdata.input' | i18n }}{{'basWorksection.name' | i18n}}">
                    <input nz-input formControlName="name" placeholder="{{ 'inputdata.input' | i18n }}" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzSpan="6" [nzNoColon]="true"></nz-form-label>
                <nz-form-control nzSpan="8">
                    <label nz-checkbox formControlName="isdefault">{{'basWorksection.isdefault' | i18n}}</label>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzSpan="6">{{"basWorksection.sort" | i18n}}</nz-form-label>
                <nz-form-control nzSpan="8">
                    <nz-input-number [nzMin]="0" formControlName="sort"></nz-input-number>
                </nz-form-control>
            </nz-form-item>


        </form>
    </ng-template>
    <ng-template #footerTpl>
        <button nz-button (click)="close()">{{ 'btn.cancel'|i18n }}</button>
        <button nz-button nzType="primary" (click)="submitForm()" (keydown)="submitForm($event)" [disabled]="submiting"
            [nzLoading]="submiting" class="m-l-6">{{ 'btn.save'|i18n }}</button>
    </ng-template>
</idrawer>
