<div class="layout-title" style="margin-top: -8px">
    {{ "placard.operationSelect" | i18n }}
</div>
<nz-radio-group [(ngModel)]="operation">
    <label nz-radio nzValue="add">{{ "btn.add" | i18n }}</label>
    <label nz-radio nzValue="delete">{{ "btn.delete" | i18n }}</label>
    <label nz-radio nzValue="update">{{ "btn.update" | i18n }}</label>
</nz-radio-group>
<div class="layout-title">{{ "placard.tabletModuleSelect" | i18n }}</div>
<nz-checkbox-group [(ngModel)]="bpmlist"></nz-checkbox-group>
<div class="layout-title">{{ "placard.stationSelect" | i18n }}</div>
<div class="station-view">
    <div class="tree-view mr16">
        <nz-tree
                [nzData]="nodes"
                (nzClick)="nzEvent($event)"
            ></nz-tree>
    </div>
    <div class="table-view">
        <nz-table
            [nzData]="blslist"
            [nzBordered]="true"
            [nzShowPagination]="false"
            nzSize="small"
            [nzScroll]="{y}"
        >
            <thead>
                <tr>
                   
                    <th>{{ "placard.layoutStructureCode" | i18n }}</th>
                    <th>{{ "placard.layoutStructureName" | i18n }}</th>
                    <th nzWidth="80px" nzAlign="center">
                        {{ "btn.operation" | i18n }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="
                        let data of blslist;
                        let i = index
                    "
                >
                    <td>{{ data.code }}</td>
                    <td>{{ data.name }}</td>
                    <td nzAlign="center">
                        <i
                            nz-icon
                            nzType="minus"
                            nzTheme="outline"
                            style="color: red; font-size: 16px"
                            class="pointer"
                            (click)="onDelete(i)"
                        ></i>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
<div class="footer-view">
    <button
        nz-button
        nzType="primary"
        (click)="onSubmit()"
        [nzLoading]="isLoading"
    >
        {{ "btn.save" | i18n }}
    </button>
    <button nz-button class="ml8" (click)="onClose()">
        {{ "btn.cancel" | i18n }}
    </button>
</div>

