<div class="wrapper" (click)="maskClick()" [class.search]="issearch==true"
    [ngStyle]="{ justifyContent: justifyContentValue,width:searchwidth}">
    <div class="inner beauty-scroll"
        [ngStyle]="{width: width, height: height || autoHeight, maxHeight: maxHeight, maxWidth: maxWidth}"
        (click)="bodyClick($event)">
        <div class="header" *ngIf="showHeader" [ngStyle]="{height: headHeight}">
            <ng-container *ngIf="issearch==false">
                <div class="title">{{title}}</div>
                <ng-container [ngTemplateOutlet]="btnTpl"></ng-container>
                <button nz-button nzType="text" (click)="close()">
                    <i nz-icon nzType="close" nzTheme="outline"></i>
                </button>
            </ng-container>
            <ng-container *ngIf="issearch==true">
                <button nz-button nzType="text" (click)="close()">
                    <i nz-icon nzType="logout" nzTheme="outline"></i>
                </button>
                <div class="search-btn">
                    <ng-container [ngTemplateOutlet]="btnTpl"></ng-container>
                </div>
            </ng-container>
        </div>
        <div class="body beauty-scroll"
            [ngStyle]="{padding: bodyPadding, height: showHeader ? (footer ? 'calc(100% - ' + headFootTotalHeight + ')': 'calc(100% - ' + headHeight + ')') : (footer ? 'calc(100% - ' + footHeight + ')': '100%')}">
            <div #body>
                <ng-container [ngTemplateOutlet]="content"></ng-container>
            </div>
        </div>
        <div class="footer" *ngIf="footer" [ngStyle]="{height: footHeight}">
            <ng-container [ngTemplateOutlet]="footer"></ng-container>
        </div>
    </div>
</div>
