<idrawer *ngIf="visible" [title]="title" [width]="width"  justifyContent="center" [footer]="footerTpl"
    (onClose)="close()" [content]="contentTpl">
    <ng-template #contentTpl>
        <div class="row-item-view">
            <div class="sub-txt mb8">{{ "basPart.code" | i18n }}</div>
            <div class="value-txt">{{ detailInfo.code }}</div>
        </div>
        <div class="row-item-view">
            <div class="sub-txt mb8">{{ "basPart.name" | i18n }}</div>
            <div class="value-txt">{{ detailInfo.name }}</div>
        </div>
        <div class="row-item-view">
            <div class="sub-txt mb8">{{ "basPart.ismain" | i18n }}</div>
            <div class="value-txt">
                {{ detailInfo.ismain ? ("placard.yes" | i18n) : ("placard.no" | i18n) }}
            </div>
        </div>
        <div class="row-item-view">
            <div class="sub-txt mb8">{{ "basPart.class" | i18n }}</div>
            <div class="value-txt">{{ detailInfo.class_name }}</div>
        </div>
        <div class="row-item-view">
            <div class="sub-txt mb8">{{ "basPart.sort" | i18n }}</div>
            <div class="value-txt">{{ detailInfo.sort }}</div>
        </div>
    </ng-template>

    <ng-template #footerTpl>
        <button nz-button (click)="close()">{{ 'btn.close'|i18n }}</button>
    </ng-template>
</idrawer>
