<!-- <div class="page-view">
    <div nz-row [nzGutter]="16" *ngIf="!isGangDai">
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="16" nzXl="16">
            <statistics></statistics>
            <capacity></capacity>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
            <production></production>
            <sku></sku>
        </div>
    </div> -->

    <!-- 钢带 -->
    <!-- <div nz-row [nzGutter]="16" *ngIf="isGangDai">
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="16" nzXl="16">
            <statistics></statistics>
            <app-storage-monitoring></app-storage-monitoring>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
            <app-employee-warning></app-employee-warning>
            <app-sample-statistics></app-sample-statistics>
        </div>
    </div>
</div> -->
