<div class="zpopup" [style]="'opacity:'+bjOpacity+';'"></div>
<div class="zpopup_cont" [style]="'width:'+width+'px;height:'+height+'px;left:calc((100% - '+width+'px)/2);top:calc((100% - '+height+'px)/2);opacity:'+opacity+';'">
    <div class="zpopup_cont_top">
        <div class="zpopup_cont_top_title">{{popupTitle}}</div>
        <div class="zpopup_cont_top_close" (click)="closePopup()"><i nz-icon nzType="close" nzTheme="outline"></i></div>
    </div>
    <div class="zpopup_cont_all" [style]="'height:'+(height-48-48)+'px'">
        <div class="zpopup_cont_in">
            <nz-spin [nzSpinning]="isLoading">
                <!-- <form nz-form > -->
                    <div class="cont_title">{{'popupField.title3'|i18n}}</div>
                    <div class="cont_img">
                        <div class="left">
                            <div nz-row [nzGutter]="24">
                                <div nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <!-- 身份证 -->
                                        <nz-form-label style="width: 70px;">{{'popupField.idcard'|i18n}}</nz-form-label>
                                        <nz-form-control>
                                            <input type="text" nz-input placeholder="" [(ngModel)]="userData.idnumber" disabled/>
                                            <!-- {{userData.idnumber}} -->
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <!-- 名称 -->
                                        <nz-form-label style="width: 54px;">{{'popupField.name'|i18n}}</nz-form-label>
                                        <nz-form-control>
                                            <input type="text" nz-input placeholder="" [(ngModel)]="userData.name" disabled/>
                                            <!-- {{userData.name}} -->
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                            <div nz-row [nzGutter]="24">
                                <div nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <!-- 出生年月 -->
                                        <nz-form-label style="width: 70px;" >{{'popupField.birthday'|i18n}}</nz-form-label>
                                        <nz-form-control  nzErrorTip="">
                                            <nz-date-picker [(ngModel)]="userData.birthday" style="width: 100%;" nzDisabled></nz-date-picker>
                                            <!-- {{userData.birthday}} -->
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <!-- 工号 -->
                                        <nz-form-label style="width: 54px;">{{'popupField.jobNo'|i18n}}</nz-form-label>
                                        <nz-form-control>
                                            <input type="text" [(ngModel)]="userData.code" nz-input placeholder="" disabled/>
                                            <!-- {{userData.code}} -->
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                            <div nz-row [nzGutter]="24">
                                <div nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <!-- 体重 -->
                                        <nz-form-label style="width: 70px;">{{'popupField.weight'|i18n}}</nz-form-label>
                                        <nz-form-control>
                                            <input type="text" [(ngModel)]="userData.weight" nz-input placeholder="" disabled/>
                                            <!-- {{userData.weight}} -->
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <!-- 身高 -->
                                        <nz-form-label style="width: 54px;">{{'popupField.height'|i18n}}</nz-form-label>
                                        <nz-form-control>
                                            <input type="text" [(ngModel)]="userData.height" nz-input placeholder="" disabled/>
                                            <!-- {{userData.height}} -->
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <nz-avatar [nzShape]="'square'" [nzSize]="128" [nzIcon]="'user'" [nzSrc]="userData.photo?(imaIp+userData.photo):''"></nz-avatar>
                        </div>
                    </div>
                    <div class="cont">
                        <div nz-row [nzGutter]="24">
                            <div nz-col [nzSpan]="8">
                                <nz-form-item>
                                    <!-- 婚姻 -->
                                    <nz-form-label style="width: 70px;">{{'popupField.marriage'|i18n}}</nz-form-label>
                                    <nz-form-control  nzErrorTip="">
                                        <input type="text" [(ngModel)]="userData.wedded" nz-input placeholder="" disabled/>
                                        <!-- {{userData.wedded}} -->
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-col [nzSpan]="8">
                                <nz-form-item>
                                    <!-- 民族 -->
                                    <nz-form-label style="width: 70px;">{{'popupField.family'|i18n}}</nz-form-label>
                                    <nz-form-control>
                                        <input type="text" [(ngModel)]="userData.nation" nz-input placeholder="" disabled/>
                                        <!-- {{userData.nation}} -->
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-col [nzSpan]="8">
                                <nz-form-item>
                                    <!-- 文化程度 -->
                                    <nz-form-label style="width: 70px;">{{'popupField.education'|i18n}}</nz-form-label>
                                    <nz-form-control>
                                        <input type="text" [(ngModel)]="userData.education" nz-input placeholder="" disabled/>
                                        <!-- {{userData.education}} -->
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div nz-row [nzGutter]="24">
                            <div nz-col [nzSpan]="8">
                                <nz-form-item>
                                    <!-- 联系方式 -->
                                    <nz-form-label style="width: 70px;">{{'popupField.phone'|i18n}}</nz-form-label>
                                    <nz-form-control  nzErrorTip="">
                                        <input type="text" [(ngModel)]="userData.phone" nz-input placeholder="" disabled/>
                                        <!-- {{userData.phone}} -->
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-col [nzSpan]="16">
                                <nz-form-item>
                                    <!-- 联系地址 -->
                                    <nz-form-label style="width: 70px;" >{{'popupField.address'|i18n}}</nz-form-label>
                                    <nz-form-control>
                                        <input type="text" [(ngModel)]="userData.address" nz-input placeholder="" disabled/>
                                        <!-- {{userData.address}} -->
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div nz-row [nzGutter]="24">
                            <div nz-col [nzSpan]="24">
                                <nz-form-item>
                                    <!-- 备注 -->
                                    <nz-form-label style="width: 70px;">{{'popupField.remarks'|i18n}}</nz-form-label>
                                    <nz-form-control>
                                        <textarea style="resize: none;" [(ngModel)]="userData.remark" rows="4" nz-input disabled></textarea>
                                        <!-- {{userData.remark}} -->
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                    <div class="cont_title">{{'popupField.title4'|i18n}}</div>
                    <div class="cont" style="height: 95px; margin-top: 20px;">
                        <div nz-row [nzGutter]="24">
                            <div nz-col [nzSpan]="8">
                                <nz-form-item>
                                    <!-- 考勤卡号 -->
                                    <nz-form-label style="width: 70px;">{{'popupField.timeNo'|i18n}}</nz-form-label>
                                    <nz-form-control>
                                        <input type="text" [(ngModel)]="userData.attendanceid" nz-input placeholder="" disabled/>
                                        <!-- {{userData.attendanceid}} -->
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-col [nzSpan]="8">
                                <nz-form-item>
                                    <!-- 工种 -->
                                    <nz-form-label style="width: 70px;">{{'popupField.profession'|i18n}}</nz-form-label>
                                    <nz-form-control>
                                        <input type="text" [(ngModel)]="userData.worktype" nz-input placeholder="" disabled/>
                                        <!-- {{userData.worktype}} -->
                                        <!-- <nz-input-number style="width: 100%;" [nzMin]="1" [nzMax]="100" [nzStep]="1" [nzPrecision]="0"></nz-input-number> -->
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-col [nzSpan]="8">
                                <nz-form-item>
                                    <!-- 工资卡号 -->
                                    <nz-form-label style="width: 70px;">{{'popupField.payrollNo'|i18n}}</nz-form-label>
                                    <nz-form-control>
                                        <input type="text" [(ngModel)]="userData.cardnumber" nz-input placeholder="" disabled/>
                                        <!-- {{userData.cardnumber}} -->
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div nz-row [nzGutter]="24">
                            <div nz-col [nzSpan]="12">
                                <nz-form-item>
                                    <!-- 入职时间 -->
                                    <nz-form-label style="width: 70px;">{{'popupField.entryTime'|i18n}}</nz-form-label>
                                    <nz-form-control>
                                        <nz-date-picker [(ngModel)]="userData.employmentdate" style="width: 100%;" nzDisabled></nz-date-picker>
                                        <!-- {{userData.employmentdate}} -->
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-col [nzSpan]="12">
                                <nz-form-item>
                                    <!-- 离职时间 -->
                                    <nz-form-label style="width: 70px;">{{'popupField.outTime'|i18n}}</nz-form-label>
                                    <nz-form-control>
                                        <nz-date-picker [(ngModel)]="userData.resignationdate" style="width: 100%;" nzDisabled></nz-date-picker>
                                        <!-- {{userData.resignationdate}} -->
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                <!-- </form> -->
            </nz-spin>
        </div>
    </div>
    <div class="zpopup_cont_foot">
        <button nz-button nzType="default" style="margin-right: 10px;" (click)="closePopup()">{{'btn.close'|i18n}}</button>
    </div>
</div>