<idrawer *ngIf="visible" [title]="title" [width]="width" justifyContent="center"
    nzSize="small" [footer]="footerTpl" height="95%"
    (onClose)="close()" [content]="contentTpl">
    <ng-template #contentTpl>
        <form nz-form [formGroup]="validateForm">
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="12">
                    <nz-form-item style="margin-bottom: 8px;">
                        <nz-form-label [nzSpan]="6" nzRequired>{{
                            'layoutVirtual.code'|i18n}}</nz-form-label>
                        <nz-form-control [nzSpan]="18">
                            <input nz-input formControlName="code"
                                placeholder="{{ 'inputdata.input'|i18n
                                }}"
                                (keydown)="submitForm($event)" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="8" nzRequired>{{
                            'layoutVirtual.name'|i18n }}</nz-form-label>
                        <nz-form-control [nzSpan]="16">
                            <input nz-input formControlName="name"
                                placeholder="{{ 'inputdata.input'|i18n
                                }}" (keydown)="submitForm($event)" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
        <nz-divider nzText="{{'placard.rws'|i18n}}" nzOrientation="left"></nz-divider>
        <div style="height: calc(100% - 115px);">
            <button nz-button nz-dropdown [nzDropdownMenu]="menusection">
                {{'placard.selectline'|i18n}}
                <span nz-icon nzType="down"></span>
            </button>
            <nz-dropdown-menu #menusection="nzDropdownMenu">
                <ul nz-menu style="max-height: 200px;overflow: auto;">
                    <li nz-menu-item *ngFor="let data of selectbls"
                        (click)="clickItem(data)">
                        {{data.name}}{{'['+data.code+']'}}
                    </li>
                </ul>
            </nz-dropdown-menu>
            <nz-transfer style="height: calc(100% - 32px);"
                [nzDataSource]="list" [nzListStyle]="{height: 'calc(100%)'}"
                nzShowSearch
                [nzShowSelectAll]="false"
                [nzTitles]="[selecttitle,'']"
                [nzRenderList]="[renderList, renderList]"
                (nzChange)="change($event)">
                <ng-template
                    #renderList
                    let-items
                    let-direction="direction"
                    let-stat="stat"
                    let-disabled="disabled"
                    let-onItemSelectAll="onItemSelectAll"
                    let-onItemSelect="onItemSelect">
                    <nz-table #t [nzData]="$asTransferItems(items)"
                        [nzFrontPagination]="false"
                        nzSize="small" [nzShowPagination]="false"
                        [nzScroll]="{ x: '100%', y: 'calc(100% - 45px)' }">
                        <thead>
                            <tr>
                                <th nzLeft
                                    [nzDisabled]="disabled"
                                    [nzChecked]="stat.checkAll"
                                    [nzIndeterminate]="stat.checkHalf"
                                    (nzCheckedChange)="onItemSelectAll($event)"></th>
                                <th>{{'layoutVirtual.bls_code'|i18n}}</th>
                                <th>{{'layoutVirtual.bls_key'|i18n}}</th>
                                <!-- <th nzWidth="50px" nzRight>{{'btn.operation'|i18n}}</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of t.data"
                                (click)="onItemSelect(data)">
                                <td nzLeft
                                    [nzChecked]="!!data.checked"
                                    [nzDisabled]="disabled || data.disabled"
                                    (nzCheckedChange)="onItemSelect(data)"></td>
                                <td *ngIf="direction === 'left'">{{ data.code }}</td>
                                <td *ngIf="direction === 'left'">
                                    {{ data.name }}
                                </td>
                                <td *ngIf="direction === 'right'">{{
                                    data.bls_code }}</td>
                                <td *ngIf="direction === 'right'">{{
                                    data.bls_name }}</td>
                                <!-- <td nzWidth="50px" nzRight>{{ data.description }}</td> -->
                            </tr>
                        </tbody>
                    </nz-table>
                </ng-template>
            </nz-transfer>
        </div>
    </ng-template>
    <ng-template #footerTpl>
        <button nz-button nzType="primary" (click)="submitForm()"
            (keydown)="submitForm($event)"
            [disabled]="submiting" [nzLoading]="submiting" class="m-l-6">{{'btn.save'|i18n
            }}</button>
        <button nz-button (click)="close()">{{'btn.cancel'|i18n}}</button>
        <flow #flow style="text-align: left;" [modular]="modular"></flow>
    </ng-template>
</idrawer>
