<crud2 #crud [router]="url" [jsonname]="fieldcode" [list]="list" (actionClick)="btnEvent($event)"
    keyword_placeholder="basMachinedevice.code" [columns]="columns" [modular]="modular" [fields]="field"
    [searchActionsBody]="searchActionsBody"></crud2>
<ng-template #searchActionsBody let-item="record">
    <form nz-form>
        <nz-form-item *ngIf="isseach('code')==true">
            <nz-form-label [nzSpan]="24">{{ 'basMachinedevice.code'|i18n }}</nz-form-label>
            <nz-form-control [nzSpan]="24">
                <input nz-input name="code" placeholder="{{ 'inputdata.input'|i18n }}"
                    [(ngModel)]="crud.seniorModel.code" (keydown)="crud.Search($event)" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="isseach('name')==true">
            <nz-form-label [nzSpan]="24">{{ 'basMachinedevice.name'|i18n }}</nz-form-label>
            <nz-form-control [nzSpan]="24">
                <input nz-input name="name" placeholder="{{ 'inputdata.input'|i18n }}"
                    [(ngModel)]="crud.seniorModel.name" (keydown)="crud.Search($event)" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="isseach('brand')==true">
            <nz-form-label [nzSpan]="24">{{ 'basMachinedevice.brand'|i18n }}</nz-form-label>
            <nz-form-control [nzSpan]="24">
                <input nz-input name="brand" placeholder="{{ 'inputdata.input'|i18n }}"
                    [(ngModel)]="crud.seniorModel.brand" (keydown)="crud.Search($event)" />
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>
<app-edit-production-equipment #edit [modular]="modular" (editDone)="crud.reloadData($event)">
</app-edit-production-equipment>
<app-view-production-equipment #view [modular]="modular"></app-view-production-equipment>
<!-- <ng-template #tdTpl let-item let-i="i" let-record="record">
    <ng-container *ngIf="item.tpl === 'noTpl'">
        <span>{{ pageSize * (pageIndex - 1) + i + 1 }}</span>
    </ng-container>
    <ng-container *ngIf="item.tpl === 'timeTpl'">
        <span>{{ record.purchasedate | date : "yyyy-MM-dd" }}</span>
    </ng-container>
    <ng-container *ngIf="item.tpl === 'timeTpl2'">
        <span>{{ record.planretirementdate | date : "yyyy-MM-dd" }}</span>
    </ng-container>
    <ng-container *ngIf="item.tpl === 'operationTpl'">
        <button nz-button nzType="text" nzSize="small" nz-tooltip nzTooltipTitle="{{ 'btn.see' | i18n }}"
            (click)="onShowviewModal(record)">
            <i nz-icon nzType="eye"></i>
        </button>
        <button nz-button nzType="text" nzSize="small" nz-tooltip nzTooltipTitle="{{ 'btn.update' | i18n }}"
            (click)="onShowEditModal('edit', record)" *ngIf="pes.btnAuth('update')">
            <i nz-icon nzType="edit"></i>
        </button>
        <button nz-button nzType="text" nzSize="small" nz-tooltip nzTooltipTitle="{{ 'btn.delete' | i18n }}"
            (click)="onDelete(record)" *ngIf="pes.btnAuth('del')">
            <i nz-icon nzType="delete"></i>
        </button>
    </ng-container>
</ng-template> -->
<!-- <app-embed-drawer title="{{ 'btn.advancedSearch' | i18n }}" [(isVisible)]="isShowAdvancedSearch"
    [componentName]="'app-production-equipment-advanced-search'">
    <app-production-equipment-advanced-search [advanceParams]="advanceParams" *ngIf="isShowAdvancedSearch">
    </app-production-equipment-advanced-search>
</app-embed-drawer>

<app-embed-modal title="{{ 'btn.see' | i18n }}" [marginTop]="'50px'" [width]="'600px'" [bodyHeight]="'400px'"
    [(isVisible)]="isShowViewModal" [componentName]="'app-view-production-equipment'">
</app-embed-modal>

<app-embed-modal title="{{ 'btn.import' | i18n }}" [marginTop]="'10%'" [width]="'800px'" [bodyHeight]="'350px'"
    [(isVisible)]="isShowImportModal" [componentName]="'app-import-production-equipment'">
</app-embed-modal> -->
