<idrawer *ngIf="visible" [title]="title" [width]="width" justifyContent="center" [footer]="footerTpl"
    (onClose)="close()" [content]="contentTpl">
    <ng-template #contentTpl>
        <div class="row-item-view">
            <div class="sub-txt mb8">{{'bas-processlevel.name' | i18n}}</div>
            <div class="value-txt">{{ detailInfo.name }}</div>
        </div>
        <div class="row-item-view">
            <div class="sub-txt mb8">{{'bas-processlevel.code' | i18n}}</div>
            <div class="value-txt">{{ detailInfo.code }}</div>
        </div>
        <div class="row-item-view">
            <div class="sub-txt mb8">{{'bas-processlevel.difficultyDegree' | i18n}}</div>
            <div class="value-txt">{{ detailInfo.coefficient || 0 }}</div>
        </div>
    </ng-template>

    <ng-template #footerTpl>
        <button nz-button (click)="close()">{{ 'btn.close'|i18n }}</button>
    </ng-template>
</idrawer>
