<idrawer *ngIf="visible" [title]="title" [width]="width" justifyContent="center" nzSize="small" [footer]="footerTpl"
    (onClose)="close()" [content]="contentTpl">
    <ng-template #contentTpl>
        <nz-input-group nzAddOnBefore="{{'pdmPartoperation.poi_key'|i18n}}">
            <ina-common-select class="select" title="{{ 'checkdata.check'|i18n }}" url="OperationInfo" [(ngModel)]="key"
                (onSelect)="getData()">
            </ina-common-select>
        </nz-input-group>
        <nz-transfer nzShowSearch [nzDataSource]="list" [nzShowSelectAll]="false" style="height: 99%;"
            [nzRenderList]="[renderList, renderList]" (nzSelectChange)="select($event)" (nzChange)="change($event)">
            <ng-template #renderList let-items let-stat="stat" let-direction="direction"
                let-onItemSelectAll="onItemSelectAll" let-onItemSelect="onItemSelect">
                <nz-table #t [nzData]="$asTransferItems(items)" nzSize="small" [nzFrontPagination]="false"
                    style="height: calc(100% - 60px);" [nzScroll]="{ y: '41rem' }">
                    <thead>
                        <tr>
                            <th [nzChecked]="stat.checkAll" [nzIndeterminate]="stat.checkHalf"
                                (nzCheckedChange)="onItemSelectAll($event)"></th>
                            <th>{{'pdmPartoperation.bpi_code'|i18n}}</th>
                            <th>{{'pdmPartoperation.bpi_name'|i18n}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of t.data;let i= index" (click)="onItemSelect(data)">
                            <td [nzChecked]="!!data.checked" (nzCheckedChange)="onItemSelect(data)"></td>
                            <td>{{direction === 'left'? data.code
                                :data.bpi_code}}</td>
                            <td>{{direction === 'left'? data.name
                                :data.bpi_name}}</td>
                        </tr>
                    </tbody>
                </nz-table>
            </ng-template>
        </nz-transfer>
    </ng-template>
    <ng-template #footerTpl>
        <button nz-button nzType="primary" (click)="submitForm()" (keydown)="submitForm($event)" [disabled]="submiting"
            [nzLoading]="submiting" class="m-l-6">{{'btn.save'|i18n}}</button>
        <button nz-button (click)="close()">{{'btn.cancel'|i18n}}</button>
        <flow #flow style="text-align: left;" [modular]="modular"></flow>
    </ng-template>
</idrawer>
